body {
	font-family: "Nunito Sans", sans-serif;
	display: grid;
	grid-template-columns: auto 1fr auto;
}
#left-container {
	display: flex;
	align-items: center;
}
main {
	max-width: 30em;
	margin: auto;
	display: flex;
	flex-direction: column;
}
#right-container {
	display: flex;
	align-items: center;
}
h1 {
	text-align: center;
}
main audio {
	width: 100%;
}
button {
	width: auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
main #shuffle-button__icon {
	width: 2.5em;
	height: 2.5em;
}
