#channel-list {
	overflow: hidden;
	ul {
		overflow: scroll;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: flex-end;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		gap: 25px;
		li {
			width: 8em;
			align-items: flex-start;
			padding-bottom: 3em;
			div {
				width: 8em;
			}
			p {
				height: 2em;
			}
			img {
				max-width: 8em;
				border-radius: 10px;
				background: #e0e0e0;
				box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
			}
		}
		li:last-child {
			padding-right: 12em;
		}
	}
}
